<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    RewriteCond %{HTTP_HOST} ^www.activeworking.com$ [NC]
    RewriteRule ^(.*)$ http://activeworking.com/$1 [R=301,L]


    RewriteCond %{HTTP_HOST} ^www.getamericastanding.org$ [NC]
    RewriteRule ^(.*)$ http://getamericastanding.org/$1 [R=301,L]


    RewriteCond %{HTTP_HOST} ^www.getaustraliastanding.org$ [NC]
    RewriteRule ^(.*)$ http://getaustraliastanding.org/$1 [R=301,L]


    RewriteCond %{HTTP_HOST} ^www.getcanadastanding.org$ [NC]
    RewriteRule ^(.*)$ http://getcanadastanding.org/$1 [R=301,L]





    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]




</IfModule>
